*{
    background-color: black;
    color: white;
}

:root{
    --sizeS : 12px;
    --sizeM : 14px;
    --sizeL : 16px;
    --font : "Times New Roman", Arial, sans-serif;
    --size : var(--sizeL);
    --colorD : darkgrey;
    --colorL : ghostwhite;
    color: var(--colorL);
    font-family: var(--font);
    font-size: var(--size);
    background-color: black;
}

body{
    font-family: "Times New Roman", sans-serif;
}

/*Main Page*/
.main_page_header{
    background-color: black;
    border-style: solid;
    border-left-color: var(--colorL);
    border-right-color: var(--colorL);
    border-width: 0.1em;
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: "Times New Roman", sans-serif;
    font-size: medium;
    text-align: left;
    display: flex;
}

.about_me{
    margin-top: 10em;

}

/*-----------------------------------Interests-----------------------------*/

.interests_heading{
    margin-top: 8em;
}
.interests{
    text-align: left;
    align-content: normal;
    margin-left: 3em;
}

li{
    text-align: left;
}
/*-----------------------------------Footer--------------------------------*/
.footer_section{
    text-align: left;
    margin: 3em;
    margin-top: 9em;

}

.footer_anchor{
    text-decoration: none;
    color: white;
}

.footer_anchor:hover{
    /*text-decoration: underline;*/
    color: blue;

}
.footer_image_IG{
    padding-top: 1em;
    padding-left: 1.5em;
}

.footer_IG_label{
    margin-left: 0.5em;
}

.social_media_links{
    margin-top: 10em;
    text-align: center;
    display: flex;
}

.about_links{
    color: grey;
    display: flex;
    padding-left: 3em;
}

.about_links:hover{
    color: blue;
}

.about_para{
    display: flex;
    padding-left: 3em;
}

.about_navigator{
    display: flex;
}

.about_me_heading{
    text-align: center;
    margin-bottom: 2em;
}

.about_image_and_paragraph{
    display: flex;
}

.about_block{
    padding-right: 2em;
}

.mail_me_button{
    text-align: center;
/*    margin-left: 15em;*/
/*    margin-right: 15em;*/
    margin-top: 5em;
/*    border-left: solid;*/
/*    border-right: solid;*/
/*    border-color: white;*/
}

/*.mail_me_button:hover{*/
/*    text-align: center;*/
/*    margin-left: 15em;*/
/*    margin-right: 15em;*/
/*    margin-top: 5em;*/
/*    border-left: solid;*/
/*    border-right: solid;*/
/*    border-color: white;*/
/*    background: grey;*/
/*}*/

.mail_me_button_anchor{
        text-align: center;
        margin-left: 15em;
        margin-right: 15em;
        margin-top: 5em;
        padding-left: 20em;
        padding-right: 20em;
    border-color: white;
    border-right: solid;
    border-left: solid;
    border-radius: 0.8em;
    border-width: 0.1em;

}

.mail_me_button_anchor:hover{
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 5em;
    padding-left: 20em;
    padding-right: 20em;
    border-color: white;
    border: solid;
    border-radius: 0.8em;
    border-width: 0.1em;
    background: grey;

}