.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5 ease;
    background-color: black;
    margin-bottom: 4em;
}

.header .fixed{
    background-color: white;
    position: fixed;
}

.header .brand-name{
    padding: 0 15px;

}

.header .brand-name a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    font-family: 'Chiller';
}

.header .container .row{
    display: inline-block;
    justify-content: flex-start;
}

.header .fixed .brand-name a{
    color: black;
}

.header .nav-toggle{
    width: 40px;
    height: 34px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;

}

.header .fixed .nav-toggle{
    border-color: black;
}

.header .nav-toggle span{
    height: 1px;
    display: block;
    width: 16px;
    background-color: white;
    position: relative;
    transition: all 0.5s ease;
}

.header .nav-toggle span::before,
.header .nav-toggle span::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    transition: all 0.5s ease;
}

.header .fixed .nav-toggle span,
.header .fixed .nav-toggle:before,
.header .fixed .nav-toggle:after{
    background-color: black;
}

.header .nav-toggle span:before{
    transform: translate(-6px);
}

.header .nav-toggle span:after{
    transform: translate(-6px);
}

.header .nav{
    padding: 0 15px;
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
}

.header .fixed .nav ul li a{
    color: black;
}

.header .fixed .nav ul li a:hover,
.header .nav ul li a:hover{
    color: crimson;
}
/*Main Page*/


.main_page_header{
    background-color: black;
    border-style: solid;
    border-left-color: var(--colorL);
    border-right-color: var(--colorL);
    border-width: 0.1em;
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: "Times New Roman", sans-serif;
    font-size: x-large;
    text-align: left;
    display: flex;
    margin-top: 10em;
}
.main_page_header_1{
    background-color: black;
    /*border-style: solid;*/
    /*border-left-color: var(--colorL);*/
    /*border-right-color: var(--colorL);*/
    /*border-width: 0.1em;*/
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-family: "Times New Roman", sans-serif;
    font-size: x-large;
    text-align: left;
}

.menu_div{
    margin-left: 40em;
}
.header_menu_item{
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    border-radius: 0.6em;
}

.header_selector{
    text-align: right;
    position: relative;
    font-family: "Times New Roman", sans-serif;
    /*display: none;*/
    border-color: white;
    cursor: pointer;
    font-size: var(--sizeL);
    display: compact;
}

option{
    position: absolute;
    background-color: black;
    color: white;
}

.header_selector:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
